#Only populate this at the Load Balancer- List of nodes available
Node_IP_Addresses=10.139.61.119,10.139.62.88,10.139.61.105
#Populate this at every Data node. The Load Balancer's IP Address
LB_IP=10.139.61.119
#Only populate this if using the TomROverview Module https://github.com/rchakra3/TomROverview
KEYS_FILE_PATH=
